body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: default;
    flex-direction: column;
    overflow: hidden;
}

p {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    background-color: #2196F3;
    padding: 10px;
    width: 400px;
    height: 600px;
    border: 1px solid #fff;
}

#display {
    grid-column: 1 / span 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    font-size: 28px;
    border: 1px solid #fff;
}

.grid-item-1 {
    background-color: lightblue;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
}
.grid-item-2 {
    background-color: lightblue;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;

}
.grid-item-3 {
    background-color: lightblue;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;

}
.grid-item-4 {
    background-color: lightblue;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;

}
.grid-item-5 {
    background-color: lightblue;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;

}
.grid-item-6 {
    background-color: lightblue;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;

}
.grid-item-7 {
    background-color: lightblue;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;

}
.grid-item-8 {
    background-color: lightblue;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;

}
.grid-item-9 {
    background-color: lightblue;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;

}
.grid-item-10 {
    background-color: lightblue;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;

}
.grid-item-11 {
    background-color: lightblue;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;

}
.grid-item-12 {
    background-color: lightblue;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #fff;
}
.grid-item-13 {
    background-color: lightblue;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 2;
    border: 1px solid #fff;

}
.grid-item-14 {
    background-color: lightblue;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;

}
.grid-item-15 {
    background-color: lightblue;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;

}
.grid-item-16 {
    background-color: lightblue;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;

}
.grid-item-17 {
    background-color: lightblue;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 4;
    border: 1px solid #fff;
}